<div *ngIf="movie">
  <h2>{{movie.name | uppercase}} </h2>
  <div><span>id: </span>{{movie.id}}</div>
  <div>
    <label>Name:
      <input [(ngModel)]="movie.name" placeholder="movie"/>
    </label>
  </div>
  <div>
    <label>URI:
      <input [(ngModel)]="movie.uri" placeholder="uri"/>
    </label>
  </div>
  <div>
    <label>Stripe:
      <input [(ngModel)]="movie.hasStripeImage" placeholder="stipe"/>
    </label>
  </div>
  <div>
    Completion: {{movie.stripeStatus}}&#37;
  </div>
  <div>
    <button (click)="computeStripes()">compute stripes</button>
    <button (click)="computeCuts()">compute cuts</button>
  </div>
  <button (click)="goBack()">go back</button>
  <app-stripes></app-stripes>
</div>
